h1{
  text-align: center;
  font-family: 'Staatliches', cursive;
}

h3{
  text-align: center;
  font-family: 'Staatliches', cursive;
}

.container{
  margin: auto;
  width:200px;
}

input[type=number],input[type=reset],input[type=button] {
  width:100%;
  font-family: 'Anton', sans-serif;
  padding:10px;
}

input[type=reset],input[type=button]{
  background-color: #1e90ff;
  color:white;
}
